<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AdminServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AdminServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="thisVersion" value="1" />
    <add key="VersionUpdater" value="1" />
    <add key="WayToVNC" value="C:\Program Files\uvnc bvba\UltraVNC" />
    <add key="PortRepeaterServer" value="34001" />
    <add key="PortRepeaterUVNC" value="5900" />
    <add key="IpRepeaterServer" value="192.168.1.45" />
    <add key="IpRepeaterUVNC" value="192.168.1.52" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <applicationSettings>
    <AdminServer.Properties.Settings>
      <setting name="defaultWayToVNC" serializeAs="String">
        <value>C:\Program Files\uvnc bvba\UltraVNC</value>
      </setting>
      <setting name="defaultIpRepeaterServer" serializeAs="String">
        <value>adspromote.ru</value>
      </setting>
      <setting name="defaultIpRepeaterUVNC" serializeAs="String">
        <value>adspromote.ru</value>
      </setting>
    </AdminServer.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <AdminServer.Properties.Settings>
      <setting name="defaultPortRepeaterServer" serializeAs="String">
        <value>34001</value>
      </setting>
      <setting name="UvncStartFile" serializeAs="String">
        <value>vncviewer</value>
      </setting>
      <setting name="defaultPortRepeaterUVNC" serializeAs="String">
        <value>5500</value>
      </setting>
      <setting name="Updater" serializeAs="String">
        <value>update</value>
      </setting>
      <setting name="serverUpdater" serializeAs="String">
        <value>http://adspromote.ru:34002</value>
      </setting>
      <setting name="fileNameWithVersion" serializeAs="String">
        <value>VersionAdmin.ini</value>
      </setting>
      <setting name="ListFiles" serializeAs="String">
        <value>ListFilesUpdaterAdmin.ini</value>
      </setting>
    </AdminServer.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>